AUTH0_DOMAIN=auth-handler
AUTH0_AUDIENCE=auth-api-module
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/security_analyzer
ENCRYPTION_KEY=python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"  # Generate this securely, example how to shown
CORS_ORIGINS=http://localhost:3000
